<?xml version="1.0"?>
<launch>

    <!-- 
        Author: Dr. -Ing. Ahmad Kamal Nasir
        Email: dringakn@gmail.com
        Desciption: 2D Occupancy Grid Mapping (OGM) with karto slam.
                    https://github.com/dringakn/slam_karto
                    roslaunch ros_examples example_gazebo_karto_slam.launch
    -->

    <!-- Gazebo -->

    <include file="$(dirname)/gazebo.launch">
        <arg name="use_sim_time" value="true"/>
        <arg name="world_file" value="$(dirname)/../world/willow_grage.world"/>
        <arg name="robot_model" value="$(dirname)/../urdf/test_snippets.urdf.xacro"/>
    </include>

    <!-- Karto SLAM Mapping -->
    <include file="$(dirname)/karto_slam.launch">

    </include>

    <!-- RViz -->
    <include file="$(dirname)/rviz.launch">
        <arg name="rviz_config" value="$(dirname)/../rviz/example_gazebo_karto_slam.rviz"/>
    </include>

    <!-- Keyboard -->
    <include file="$(dirname)/keyboard.launch">
        <arg name="topic" value="/cmd_vel"/>
        <arg name="lin_vel" value="0.5"/>
        <arg name="ang_vel" value="0.3"/>
    </include>


</launch>