<?xml version="1.0"?>
<launch>
    <!-- 
        Author: Dr. -Ing. Ahmad Kamal Nasir
        Email: dringakn@gmail.com
        Desciption: Load and display an octomap.
    -->
    <node pkg="ros_examples" type="example_octomap_load" name="example_octomap_load" output="screen"/>
    <node pkg="rviz" type="rviz" name="rviz" args="-d $(dirname)/../rviz/example_octomap_load.rviz" required="true"/>

</launch>