<?xml version="1.0"?>
<launch>

    <!-- 
        Author: Dr. -Ing. Ahmad Kamal Nasir
        Email: dringakn@gmail.com
        Desciption: Load a sample costmap.
    -->

    <!-- Publish a static tf between base_link map -->
    <node pkg="tf" type="static_transform_publisher" name="static_transform_publisher" args="1 1 0 0 0 0 map base_link 100"/>
    <!-- <node pkg="tf" type="static_transform_publisher" name="static_transform_publisher" args="1 1 0 0 0 0 base_link map 100"/> -->

    <!-- Load a sample map using map_server -->
    <node pkg="map_server" type="map_server" name="map_server" args="$(find ros_examples)/map/revo_lds.yaml"/>

    <node pkg="ros_examples" type="example_costmap_2dros" name="example_costmap_2dros" required="true" output="screen" ns="/">
        <rosparam ns="cm">
            publish_frequency: 1.0
            update_frequency: 1.0
            global_frame: map
            robot_base_frame: base_link
            transform_tolerance: 1
            rolling_window: false
            width: 20
            height: 20
            resolution: 0.1
            origin_x: 0
            origin_y: 0
            robot_radius: 0.5
            footprint_padding: 0
            # footprint: [[-0.325, -0.325], [-0.325, 0.325], [0.325, 0.325], [0.46, 0.0], [0.325, -0.325]]
            plugins: 
            - {name: static_layer, type: "costmap_2d::StaticLayer"}
            always_send_full_costmap: false
        </rosparam>
    </node>

    <node pkg="rviz" type="rviz" name="rviz" args="-d $(find ros_examples)/rviz/example_costmap_2dros.rviz"/>

</launch>