<?xml version="1.0"?>
<launch>

    <!-- 
        Author: Dr. -Ing. Ahmad Kamal Nasir
        Email: dringakn@gmail.com
        Desciption: Test the AStart (A*) path planner.
        (*) Launch the map server with the specified OGM.
        (*) Launch the AStar planning node.
        (*) Launch the RViz for visulizatoin.
        (*) Use the RViz InitialPose and GoalPosition tool to specifiy the start and end position.
    -->

    <<node pkg="ros_examples" type="example_occupancy_grid_map" name="example_occupancy_grid_map">
        
    </node>

    <!-- <node pkg="map_server" type="map_server" name="map_server" args="$(dirname)/../map/sample_map.yaml" output="screen">
        <remap from="map" to="/map"/>
        <param name="frame_id" value="map"/>
    </node> -->

    <node pkg="ros_examples" type="example_path_planning_astar" name="example_path_planning_astar" required="true" output="screen" ns="/">
    </node>

    <node pkg="rviz" type="rviz" name="rviz" args="-d $(dirname)/../rviz/example_astar.rviz" required="true"/>

</launch>