<?xml version="1.0"?>
<launch>

    <node pkg="ros_examples" type="example_sensor_msg_pointcloud2" name="example_sensor_msg_pointcloud2" output="screen"/>

    <node pkg="rviz" type="rviz" name="rviz" args="-d $(find ros_examples)/rviz/example_sensor_msg_pointcloud2.rviz"/>

    <node pkg="tf" type="static_transform_publisher" name="static_transform_publisher" args="0 0 0 0 0 0 map base_link 100"/>
</launch>