<?xml version="1.0"?>
<launch>

    <arg name="a33" default="9"/>

    <node pkg="ros_examples" type="example_rosparam_list" name="example_rosparam_list" output="screen" required="true">
        <param name="lists" value="5"/>
        <rosparam subst_value="true"> 
            list1: [1, 2, 3] 
            list2: [4, 5, 6] 
            list3: [7, 8, $(arg a33)] 
        </rosparam>
    </node>

</launch>