<?xml version="1.0"?>
<launch>

    <!-- 
        Author: Dr. -Ing. Ahmad Kamal Nasir
        Email: dringakn@gmail.com
        Desciption: 3D Mapping using a Gazebo simulated 
                    differential drive mobile robot equipped 
                    with 3D LIDAR. The FLOAM (Fast LIDAR Odometry and Mapping)
                    can be installed using:
                    cd ~/catkin_ws/src
                    git clone https://github.com/wh200720041/floam.git
                    cd cd ~/catkin_ws
                    catkin build -j8
                    sudo apt install ros-melodic-hector_trajectory_server
    -->

    <!-- Gazebo -->
    <include file="$(dirname)/gazebo.launch">
        <arg name="use_sim_time" value="true"/>
        <arg name="world_file" value="$(dirname)/../world/willow_grage.world"/>
        <arg name="robot_model" value="$(dirname)/../urdf/test_snippets.urdf.xacro"/>
    </include>

    <!-- FLOAM -->
    <include file="$(dirname)/floam.launch">

    </include>

    <!-- RViz -->
    <include file="$(dirname)/rviz.launch">
        <arg name="rviz_config" value="$(dirname)/../rviz/example_gazebo_floam.rviz"/>
    </include>


    <!-- Keyboard -->
    <include file="$(dirname)/keyboard.launch">
        <arg name="topic" value="/cmd_vel"/>
    </include>


</launch>