<launch>

	<arg name="stdev" default="0.01"/>
	<param name="stdev" value="$(arg stdev)"/>

	<node pkg="ros_examples" type="example_sinewave_generator" name="sinewave1" required="true" output="screen" args="1.0 0.25)">
		<remap from="signal" to="signal1"/>
	</node>

	<node pkg="ros_examples" type="example_sinewave_generator" name="sinewave2" required="true" output="screen" args="2.0 0.5">
		<remap from="signal" to="signal2"/>
	</node>

	<node pkg="rqt_plot" type="rqt_plot" name="rqt_plot" args="/signal1	/signal2" required="true"/>

</launch>
