<?xml version="1.0"?>
<launch>

    <!-- 
        Author: Dr. -Ing. Ahmad Kamal Nasir
        Email: dringakn@gmail.com
        Desciption: Create a costmap.
    -->
    <node pkg="ros_examples" type="example_costmap_2d_basic" name="example_costmap_2d_basic" required="true" output="screen" ns="/">
        <param name="file_name" value="/home/office/delme/costmap_2d.pgm"/>
    </node>

</launch>