<?xml version="1.0"?>
<launch>

    <!-- 
        Author: Dr. -Ing. Ahmad Kamal Nasir
        Email: dringakn@gmail.com
        Desciption: Gazebo Simulation launch file
    -->

    <arg name="use_sim_time" default="true"/>
    <arg name="robot_model" default="$(dirname)/../urdf/test_snippets.urdf.xacro"/>
    <arg name="world_file" default="$(dirname)/../world/willow_grage.world"/>
    <param name="robot_description" command="$(find xacro)/xacro $(arg robot_model)" />


    <!-- Robot transform publisher -->
    <node pkg="robot_state_publisher" type="robot_state_publisher" name="robot_state_publisher"/>

    <!-- Robot joint state values -->
    <!-- Used in-case of no simulation/hardware -->
    <node pkg="joint_state_publisher" type="joint_state_publisher" name="joint_state_publisher">
        <param name="use_gui" value="false"/>
        <param name="rate" value="10"/>
    </node>

    <!-- Launch gazebo simulation and spawn model -->
    <include file="$(find gazebo_ros)/launch/empty_world.launch">
        <arg name="world_name" value="$(arg world_file)"/>
        <arg name="paused" value="false"/>
        <arg name="use_sim_time" value="$(arg use_sim_time)"/>
        <arg name="gui" value="true"/>
        <arg name="headless" value="false"/>
        <arg name="recording" value="false"/>
        <arg name="debug" value="false"/>
    </include>

    <node pkg="gazebo_ros" type="spawn_model" name="spawn_model" output="screen" args="-urdf -param robot_description -model my_robot -x 0 -y 0 -z 0.5 ">

    </node>

</launch>