<?xml version="1.0"?>
<launch>

    <!-- 
        Author: Dr. -Ing. Ahmad Kamal Nasir
        Email: dringakn@gmail.com
        Desciption: 2D Occupancy Grid Mapping (OGM) with gmapping slam.
                    sudo apt install ros-melodic-gmapping 
                    roslaunch ros_examples example_gazebo_gmapping.launch
    -->

    <arg name="scan_topic" default="scan"/>
    <arg name="robot_frame" default="base_link"/>
    <arg name="odom_topic" default="/odom"/>
    <arg name="resolution" default="0.1"/>
    <arg name="output" default="screen"/>
    <arg name="particles" default="100"/>

    <!-- To supress debug outputs pass on the command line argument: 2>/dev/null -->
    <!-- Or launch it within other terminal -->
    <node pkg="gmapping" type="slam_gmapping" name="gmapping" required="true" output="$(arg output)" args=" 1 > /dev/null 2 > /dev/null" launch-prefix="xterm -e">
        <remap from="scan" to="$(arg scan_topic)" />
        <remap from="base_link" to="$(arg robot_frame)" />
        <remap from="odom" to="$(arg odom_topic)" />
        <param name="delta" value="$(arg resolution)"/>
        <param name="particles" value="$(arg particles)"/>
        <rosparam>
          odom_frame: odom
          base_frame: base_link
          map_update_interval: 0.5 # For fast robot, it should be smaller
          maxUrange: 30.0
          maxRange: 30.0
          sigma: 0.01
          kernelSize: 1
          lstep: 0.125
          astep: 0.01745
          iterations: 5
          lsigma: 0.075
          ogain: 3.0
          lskip: 0
          linearUpdate: 0.125
          angularUpdate: 0.1745
          temporalUpdate: -1.0
          resampleThreshold: 0.5
          xmin: -10.0
          ymin: -10.0
          xmax: 10.0
          ymax: 10.0
          llsamplerange: 0.01
          llsamplestep: 0.01
          lasamplerange: 0.005
          lasamplestep: 0.005
        </rosparam>
    </node>

</launch>