<?xml version="1.0"?>
<launch>

    <!-- 
        Author: Dr. -Ing. Ahmad Kamal Nasir
        Email: dringakn@gmail.com
        Desciption: Octomapping launch file.
    -->

    <arg name="cloud_in" default="/camera/depth/points"/>
    <arg name="pointcloud_min_z" default="-1e-9"/>
    <arg name="pointcloud_max_z" default="1e+9"/>
    <arg name="occupancy_min_z" default="-1e-9"/>
    <arg name="occupancy_max_z" default="1e+9"/>
    <arg name="resolution" default="0.125"/>
    <arg name="frame_id" default="odom"/>
    <arg name="base_frame_id" default="base_link"/>
    <arg name="filter_ground" default="false"/>
    <arg name="output" default="screen"/>

    <node pkg="octomap_server" type="octomap_server_node" name="octomap_server" output="$(arg output)">

        <remap from="cloud_in" to="$(arg cloud_in)"/>
        <remap from="projected_map" to="map"/>

        <param name="resolution" value="$(arg resolution)"/>
        <param name="frame_id" value="$(arg frame_id)"/>
        <param name="base_frame_id" value="$(arg base_frame_id)"/>
        <param name="latch" value="true"/>
        <param name="filter_speckles" value="true"/>
        <param name="height_map" value="true"/>
        <param name="sensor_model/hit" value="0.7"/>
        <param name="sensor_model/miss" value="0.4"/>
        <param name="sensor_model/min" value="0.12"/>
        <param name="sensor_model/max" value="0.97"/>
        <param name="sensor_model/max_range" value="-1"/>
        <param name="color/r" value="1"/>
        <param name="color/g" value="0"/>
        <param name="color/b" value="0"/>
        <param name="color/a" value="0.5"/>
        <param name="pointcloud_min_z" value="$(arg pointcloud_min_z)"/>
        <param name="pointcloud_max_z" value="$(arg pointcloud_max_z)"/>
        <param name="occupancy_min_z" value="$(arg occupancy_min_z)"/>
        <param name="occupancy_max_z" value="$(arg occupancy_max_z)"/>
        <param name="filter_ground" value="$(arg filter_ground)"/>
        <param name="ground_filter/distance" value="0.04"/>
        <param name="ground_filter/angle" value="0.15"/>
        <param name="ground_filter/plane_distance" value="0.07"/>

    </node>

</launch>