<?xml version="1.0"?>
<launch>

    <!-- 
        Author: Dr. -Ing. Ahmad Kamal Nasir
        Email: dringakn@gmail.com
        Desciption: Move base base local planner.
    -->
    <arg name="rviz_file" default="example_navigation_base_local_planner.rviz"/>

    <!-- Gazebo -->
    <include file="$(dirname)/gazebo.launch">
        <arg name="use_sim_time" value="true"/>
        <arg name="world_file" value="$(dirname)/../world/willow_grage.world"/>
        <arg name="robot_model" value="$(dirname)/../urdf/test_snippets.urdf.xacro"/>
        <arg name="headless" value="true"/>
        <arg name="gui" value="false"/>
    </include>

    <!-- GMapping -->
    <include file="$(dirname)/gmapping.launch">
        <arg name="scan_topic" value="scan"/>
        <arg name="robot_frame" value="base_link"/>
        <arg name="odom_topic" value="/odom"/>
        <arg name="resolution" value="0.125"/>
        <arg name="particles" value="100"/>
        <arg name="output" value="log"/>
    </include>

    <!-- RViz -->
    <include file="$(dirname)/rviz.launch">
        <arg name="rviz_config" value="$(dirname)/../rviz/$(arg rviz_file)"/>
    </include>

    <!-- Keyboard -->
    <include file="$(dirname)/keyboard.launch">
        <arg name="topic" value="/cmd_vel"/>
        <arg name="lin_vel" value="0.5"/>
        <arg name="ang_vel" value="0.3"/>
    </include>


</launch>