<launch>
  <node pkg="ros_examples" name="lab5_vrep_launch_script" type="lab5_vrep_launch_script.py" required="true" output="screen"/>
  <node pkg="ros_examples" type="particle_filter" name="localization" required="true" output="screen"/>
  <node pkg="teleop_twist_keyboard" name="teleop_twist_keyboard" type="teleop_twist_keyboard.py" launch-prefix="xterm -e" required="true">
    <remap from="/cmd_vel" to="/myRobot/cmd_vel"/>
  </node>
  <node pkg="rviz" type="rviz" name="rviz" required="true" output="screen" args="-d $(find regnum_lab5)/rviz/lab5_rviz_display.rviz"/>
  <node pkg="rostopic" name="rostopic" type="rostopic" args="pub /startSimulation std_msgs/Bool true" />

</launch>
